<div id="pricing-table" class="clear" data-aos="fade-right">
  <div class="sel">
    <div class="row">
      <div class="col" style="left: -160px;">
        <input
          type="text"
          placeholder="Search..."
          [(ngModel)]="SearchTag"
          (input)="Search()"
          style="margin: 20px;"
        />
        <div id="toggle" style="left: 450px;"></div>
      </div>
    </div>
  </div>

  <div
    class="plan"
    *ngFor="
      let file of filtered | paginate: { itemsPerPage: 3, currentPage: p }
    "
  >
    <h3></h3>
    <ul>
      <li><b>Name: </b> {{ file.nom }}</li>
      <li><b>Type: </b> {{ file.type }}</li>
      <li><b>Departement: </b>{{ file.departement }}</li>
      <li><b>Tag: </b>{{ file.tag }}</li>
      <button
        class="btn"
        style="background-color: #09c0a3;"
        (click)="GetById(file.id)"
        *ngIf="
          !(
            file.type == 'docx' ||
            file.type == 'pptx' ||
            file.type == 'ppt' ||
            file.type == 'doc' ||
            file.type == 'xls' ||
            file.type == 'xlsx' ||
            file.type == 'xlsm' ||
            file.type == 'xml' ||
            file.type == 'xlt' ||
            file.type == 'avi' ||
            file.type == 'xla'
          )
        "
      >
        Ouvrir
      </button>
      <button
        class="btn"
        style="background-color: #09c0a3;"
        (click)="Remember(file.id)"
      >
        Garder
      </button>
      <button
        class="btn"
        style="background-color: #09c0a3;"
        (click)="Download(file.id)"
      >
        Télécharger
      </button>
    </ul>
  </div>
</div>
<pagination-controls
  (pageChange)="onPageChange($event)"
  (pageBoundsCorrection)="onPageChange($event)"
  style="float: right;"
></pagination-controls>
