<div class="login-page">
  <div class="form" data-aos="flip-down">
    <form class="login-form">
      <input type="text" placeholder="username" />
      <input type="password" placeholder="password" />
      <button style="background-color: #09c0a3;" (click)="OnSignIn()">
        login
      </button>
      <p class="message">
        Not registered? <a href="#register">Create an account</a>
      </p>
    </form>
  </div>
  <div data-aos="fade-up">
    <img src="/assets/img/Blogo.png" style="width:150%; margin-left:-100px; " />
  </div>
</div>
