<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Hello!</h1>
      <h2>Welcome to the Plateform.</h2>
      
    </div>
  </div>
</div>
<div id="pricing-table" class="clear" data-aos="fade-right">
  <div class="row">
    <div class="col-md-4">
      <div
        class="plan"
        *ngFor="
          let file of filtered | paginate: { itemsPerPage: 3, currentPage: p }
        "
      >
        <h3></h3>
        <ul>
          <li><b>Name: </b> {{ file.name }}</li>
          <li><b>Type: </b> {{ file.fileType }}</li>
          <li><b>Departement: </b>{{ file.departement }}</li>
          <li><b>Tag: </b>{{ file.fileTag }}</li>
          <button
            class="btn"
            style="background-color: #09c0a3;"
            (click)="Download(file.id)"
          >
            Télécharger
          </button>
          <button
            class="btn"
            style="background-color: #09c0a3;"
            (click)="remove(file.id)"
          >
            Supprimer
          </button>
        </ul>
      </div>
    </div>
  </div>
</div>
<pagination-controls
  (pageChange)="onPageChange($event)"
  (pageBoundsCorrection)="onPageChange($event)"
  style="float: right;"
></pagination-controls>
